.glb-ldr-prt {
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgba(47, 47, 47, 0.9);
}
.gl-ldr-cld,
.glb-ldr-prt {
  position: fixed;
  text-align: center;
}
#page-loader,
#route_loader,
.glb-ldr-prt {
  z-index: 100000;
  right: 0;
}
.gl-ldr-cld {
  top: 50%;
  left: 10%;
  margin-left: -40px;
}
.gl-ldr-cld,
.glb-ldr-prt {
  position: fixed;
  text-align: center;
}
.gl-ldr-cld,
.gl-ldr-cld1,
.lg-btn,
.md-btn,
.modal.valign .modal-dialog,
.modal.valign:before,
.secondry-btn,
.sm-btn,
.sm-dot,
.tk-checkbox,
.xs-btn {
  vertical-align: middle;
}
#global_loader .gl-ldr-ctr {
  width: 80px;
  height: 80px;
  // padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.gl-ldr-ctr {
  background-color: #f5f5f5;
  margin: 0 auto;
  border-radius: 10px;
}
.gl-loader,
.gl-loader:after {
  border-radius: 50%;
}
.gl-loader {
  width: 50px;
  height: 50px;
  position: relative;
  border-top: 5px solid rgba(0, 0, 0, 0.03);
  border-right: 5px solid rgba(0, 0, 0, 0.03);
  border-bottom: 5px solid;
  border-left: 5px solid;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  // -webkit-animation: load8 1.2s infinite linear;
  // animation: load8 1.2s infinite linear;
  color: #000;
  margin: 0 auto;
}
// .loader {
//   border: 16px solid #f3f3f3;
//   border-radius: 50%;
//   border-top: 16px solid #000;
//   width: 120px;
//   height: 120px;
//   // -webkit-animation: spin 2s linear infinite; /* Safari */
//   // animation: spin 2s linear infinite;
// }
.loader-cres {
  margin: auto;
    /* display: table-cell; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* Safari */
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}