<ion-content>
<div id="global_loader" class="glb-ldr-prt" *ngIf="show">
  <div class="gl-ldr-ctr">
      <!-- <img src="/assets/images/loader.svg"> --> 
      <ion-spinner class="loader-cres" name="crescent"></ion-spinner>
  </div>
</div>
</ion-content>