<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="banner-section">
    <img src="/assets/image/bride.jpg" alt="">
    <h5>India's Favorite Wedding <br />Gallery and Planner</h5>
  </div>

  <div class="bottom-section">
    <h3>sign in / sign up</h3>

    <form [formGroup]="otpform">
      <div class="field_box">
        <ion-input type="tel" formControlName="otp" placeholder="Enter OTP here" clearInput (input)="onKeyUp($event)"></ion-input>
      </div>
      <p>One time password has been sent to your number.  <ion-button class="resend-btn" [disabled]="timer > 0" (click)="resendOtp()">Resend</ion-button> <span *ngIf="timer > 0">{{timer}}</span></p>
      <ion-button color="primary" [disabled]="otpform.invalid" (click)="verify()">continue</ion-button>
    </form>
  </div>

</ion-content>

