<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>view card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="invited">
    <img src="/assets/image/user.svg" alt="">
    <h4>sunny invited you</h4>
    <p>Saturday 28 Nov 2019</p>
    <p><strong>add:</strong>D-84, C Block, Sector 2, Noida, Uttar Pradesh 201301</p>
  </div>
  
  <div class="invite-card">
    <img src="/assets/image/img1.png" alt="">
  </div>

  <p class="para" padding>As you blend your lives together with each other, I want to wish you a married life full of romance, cuddle and lifetime of happiness!</p>
 
 <div style="height: 4vh;float: left;width: 100%;"></div>
 
  <img src="/assets/image/camera.png" alt="" class="camera">
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-title><h4>live camera <span>Time<br />left 20:00 hr</span></h4></ion-title>
  </ion-toolbar>
</ion-footer>
