
:host{
    ion-item{
        --inner-padding-end: 0px;
        --padding-start:0px
    }
  }
.header-ios ion-toolbar,.header-md ion-toolbar{
    border-bottom: 1px solid #dcdcdc !important;
    --border-width: 0px;
}
ion-title{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}

.invited {
    width: 100%;
    display: inline-block;
    padding: 15px;
    padding-left: 100px;
    position: relative;
    img {
        position: absolute;
        left: 15px;
        top: 15px;
        margin: auto;
        width: 70px;
    }
    h4 {
        font-size: 18px;
        text-transform: capitalize;
        margin: 0 0 5px 0;
        color: #262626;
    } 
    p {
        font-size: 15px;
        color: #8E8E8E;
        margin: 0;
        strong {
            color: #262626;
            text-transform: capitalize;
            margin-right: 5px;
            margin-top: 4px;
            display: inline-block;
        }
    }
    
}


.invite-card {
    width: 100%;
    float: left;
    background: #EEEEEE;
     img {
    width:65%;
    margin: 25px auto;
    display: flex;
    border-radius: 6px;
}
}

.para {
    font-size: 15px;
    color: #8E8E8E;
    margin:5px 0;
    display: inline-block;
}

ion-footer{
    ion-title {
        padding: 0;
        margin: 0;
        h4 {
            font-size: 14px;
            text-align: left;
            padding: 20px 15px;
            margin: 0;
            position: relative;
            text-transform: capitalize;
            padding-right: 110px;
            span {
                float: right;
                position: absolute;
                right: 15px;
                margin: auto;
                top: 0;
                bottom: 0;
                height: 32px;
            }
        }
    }
}

.camera{
    position: fixed;
    bottom: 0px;
    z-index: 999;
    left: 0;
    right: 0;
    margin: auto;
}