
:host{
    ion-item{
        --inner-padding-end: 0px;
        --padding-start:0px
    }
  }
  .header-ios ion-toolbar,.header-md ion-toolbar{
    border-bottom: 1px solid #dcdcdc !important;
    --border-width: 0px;
  }

  h2 {
    margin: 10px 0 10px 0;
    font-size: 18px;
    text-transform: capitalize;
}
  ion-toolbar ion-button {
    text-transform: capitalize;
    margin: 0;
    color: #2CBC2C!important;
}

ion-title{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
  }

ion-segment-button h4 {
    text-transform: capitalize;
    color: #000;
    font-size: 14px;
    margin: 0;
  }
  
  ion-segment-button {
    min-height: 40px;
    min-width: auto !important;
    margin: 0;
  }
  
  ion-segment-button.segment-button-checked h4 {
    color: #fe3353;
  }
  ion-segment-button.segment-button-checked {
    background: transparent !important;
  }
  
  ion-segment-button.activated {
    background: transparent !important;
  }
  
  ion-segment-button{
    min-height: 40px;
    min-width: auto !important;
    margin: 0;
  }


  ion-item {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

ion-item ion-label {
    margin: 0;
    width: 100%;
    display: inline-block !important;
}

ion-item:nth-child(even) {
    float: right;
}





.card-box {
    width: 100%;
    display: inline-block;
    span {
        width: 100%;
        height: 85px;
        display: inline-block;
        margin: 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    h4 {
        margin: 5px 0 0;
        font-size: 15px;
        padding-right: 40px;
        white-space: normal;
        font-weight: 500;
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 2px;
        }
    }
    p {
        font-size: 12px;
        width: 100%;
        display: inline-block;
        color: #8E8E8E;
    }
}



ion-label{
    .save-box {
        width: 100%;
        display: inline-block;
        position: relative;
        span {
            width: 100%;
            height: 220px;
            display: inline-block;
            margin: 0;
            border-radius: 8px;
            position: relative;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: auto;
                height: 100%;
                background: rgba(255,255,255,0);
                background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
            }
        }
    }
    .content_box{
        position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0;
    width: 85%;
    margin: auto;
    overflow: hidden;
     h4 {
         margin: 5px 0 0;
         font-size: 15px;
         white-space: normal;
         font-weight: 500;
         position: relative;
         color: #fff;
         img {
             position: absolute;
             right: 0;
             top: 2px;
         }
     }
     p {
        font-size: 11px;
        width: 100%;
        display: inline-block;
        color: #fff;
        white-space: normal;
     }
    }
}