<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      saved card & invitation
    </ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="section" scrollable>
    <ion-segment-button value='invitation'>
     <h4>all invitation</h4>
    </ion-segment-button>
    <ion-segment-button value='card'>
      <h4>saved card</h4>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="section">

    <div *ngSwitchCase="'invitation'">

      <h2>today</h2>

      <ion-list>
        <ion-radio-group>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="card-box">
                <span><img src="/assets/image/card1.png" alt=""></span>
                <h4>Ashutosh Weds Simerjit <img src="/assets/image/enter.png" alt=""></h4>
                <p>Created Date: 01/05/2019</p>
              </div>
            </ion-label>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="card-box">
                <span><img src="/assets/image/card1.png" alt=""></span>
                <h4>Avish Weds Heena <img src="/assets/image/enter.png" alt=""></h4>
                <p>Created Date: 01/05/2019</p>
              </div>
            </ion-label>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="card-box">
                <span><img src="/assets/image/card1.png" alt=""></span>
                <h4>Rahul Weds Meena <img src="/assets/image/enter.png" alt=""></h4>
                <p>Created Date: 01/05/2019</p>
              </div>
            </ion-label>
          </ion-item>
          
        </ion-radio-group>
      </ion-list>

    </div>

    <div *ngSwitchCase="'card'">

      <ion-list>
        <ion-radio-group>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="save-box">
                <span><img src="/assets/image/img5.png" alt=""></span>
              </div>
              <div class="content_box">                
                <h4>Ashutosh Weds <br /> Simerjit</h4>
                <p>Created Date: 01/05/2019</p>
              </div>
            </ion-label>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="save-box">
                <span><img src="/assets/image/img6.png" alt=""></span>
              </div>
              <div class="content_box">                
                <h4>Avish Weds <br /> Heena</h4>
                <p>Created Date: 01/05/2019</p>
              </div>
            </ion-label>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label>
              <div class="save-box">
                <span><img src="/assets/image/img6.png" alt=""></span>
                <div class="content_box">                  
                <h4>Rahul Weds <br /> Meena</h4>
                <p>Created Date: 01/05/2019</p>
                </div>
              </div>
            </ion-label>
          </ion-item>
          
        </ion-radio-group>
      </ion-list>

    </div>

  </div>

</ion-content>
