<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="banner-section">
    <img src="/assets/image/bride.jpg" alt="">
    <h5>India's Favorite Wedding <br />Gallery and Planner</h5>
  </div>

  <div class="bottom-section">
    <h3>sign in / sign up</h3>

    <form action="">
      <div class="field_box">
        <ion-input text="tel" placeholder="Enter Mobile"></ion-input>
      </div>
      <div class="field_box">
        <ion-input text="tel" placeholder="OTP"></ion-input>
      </div>
      <p>One time password has been sent to your number.</p>
    </form>
    <ion-button color="primary">continue</ion-button>
  </div>

</ion-content>

