.banner-section {
    width: 100%;
    height: 34vh;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 25px 25px;
    h5 {
        position: absolute;
        bottom: 30px;
        width: 88%;
        margin: 0 auto;
        left: 20px;
        color: #fff;
        font-size: 20px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &:after {
        background: rgba(0, 0, 0, 0.06);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        right: 0;
        bottom: 0;
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 120px;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
        bottom: -20px;
    }
}

.bottom-section {
    width: 100%;
    float: left;
    padding: 20px 20px;
    h3 {
        margin: 0 0 25px 0;
        text-transform: capitalize;
        text-align: center;
        font-size: 18px;
    }
    p {
        text-align: left;
    font-size: 13px;
    margin: 0 0 15px 0;
    color: #cacaca;
    }
    
.field_box {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1.5px solid #f1f1f1;
    border-radius: 6px;
    ion-input {
        height: 42px;
        font-size: 15px !important;
        padding: 0 5px !important;
    }
    
}
ion-button {
    height: 45px;
    width: 100%;
    text-transform: capitalize;
    --box-shadow: none;
}
}
