<ion-header>
  <ion-toolbar>
    <ion-title>More</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="signOut()">
      <ion-label>Sign Out</ion-label>
    </ion-item>
    </ion-list>
</ion-content>
