.banner-section {
    width: 100%;
    height: 34vh;
    overflow: hidden;
    position: relative;
    border-radius: 0 0 25px 25px;
    h5 {
        position: absolute;
        bottom: 30px;
        width: 88%;
        margin: 0 auto;
        left: 20px;
        color: #fff;
        font-size: 20px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &:after {
        background: rgba(0, 0, 0, 0.06);
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        right: 0;
        bottom: 0;
    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 120px;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
        bottom: -20px;
    }
}

.bottom-section {
    width: 100%;
    float: left;
    padding: 20px 20px;
    h3 {
        margin: 0 0 25px 0;
        text-transform: capitalize;
        text-align: center;
        font-size: 18px;
    }
    h5 {
        text-align: center;
        font-size: 16px;
        margin: 0 0 15px 0;
    }
    
    .or {
        width: 100%;
        margin: 5px auto 15px;
        display: inline-block;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        &:after {content: '';position: absolute;width: 44%;height: 2px;background: #f1f1f1;left: 0;bottom: 0;top: 0;margin: auto;}
        &:before {content: '';position: absolute;width: 44%;height: 2px;background: #f1f1f1;right: 0;bottom: 0;top: 0;margin: auto;}
    }
    
.field_box {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1.5px solid #f1f1f1;
    border-radius: 6px;
    ion-input {
        height: 42px;
        font-size: 15px !important;
        padding: 0 5px !important;
    }
    
}
.social{
    ion-col {
        padding: 0;
        ion-button {
            border: 1.5px solid #f1f1f1 !important;
            margin: 0;
            border-radius: 6px;
            --background: #fff;
            --box-shadow: none;
            color: #000;
            font-weight: bold;
            height: 45px;
            --justify-content: left !important;
            img {
                width: 44px;
                border-right: 1px solid #f1f1f1;
                padding-right: 13px;
                margin-right: 8px;
            }
        }
        &:first-child {
            padding-right: 8px;
        }
        &:last-child {
            padding-left: 8px;
        }
    }
}

}
