<ion-content>

  <div class="banner-section">
    <img src="/assets/image/bride.jpg" alt="">
    <h5>India's Favorite Wedding <br />Gallery and Planner</h5>
  </div>

  <div class="bottom-section">
    <h3>sign in / sign up</h3>

    <form action="">
      <div class="field_box">
        <ion-input placeholder="Enter your mobile or email"></ion-input>
      </div>
      <span class="or">or</span>
      <h5>Continue with</h5>
      <ion-row class="social">
        <ion-col>
          <ion-button expand="full"><img src="/assets/image/facebook.png"> facebook</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full"><img src="/assets/image/google.png">google</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>
