<ion-header>
  <ion-toolbar>
    <ion-title>
      Invitation
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="success">
       saved card
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="section" scrollable>
    <ion-segment-button value='birthday'>
     <h4>birthday</h4>
    </ion-segment-button>
    <ion-segment-button value='wedding'>
      <h4>wedding</h4>
    </ion-segment-button>
    <ion-segment-button value='christmas'>
      <h4>christmas</h4>
    </ion-segment-button>
    <ion-segment-button value='year'>
      <h4>new year</h4>
    </ion-segment-button>
    <ion-segment-button value='party'>
      <h4>party</h4>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="section">

    <div *ngSwitchCase="'birthday'">

      <ion-list>
        <ion-radio-group>
      
          <ion-item no-padding lines="none">
            <ion-label><img src="/assets/image/img1.png" alt=""></ion-label>
            <img src="/assets/image/check.png" class="check0" alt="">
            <ion-radio value="cord"></ion-radio>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label><img src="/assets/image/img2.png" alt=""></ion-label>
            <img src="/assets/image/check.png" class="check0" alt="">
            <ion-radio value="duesenberg"></ion-radio>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label><img src="/assets/image/img3.png" alt=""></ion-label>
            <img src="/assets/image/check.png" class="check0" alt="">
            <ion-radio value="hudson"></ion-radio>
          </ion-item>
      
          <ion-item no-padding lines="none">
            <ion-label><img src="/assets/image/img4.png" alt=""></ion-label>
            <img src="/assets/image/check.png" class="check0" alt="">
            <ion-radio value="packard"></ion-radio>
          </ion-item>
          
        </ion-radio-group>
      </ion-list>

    </div>

  </div>

</ion-content>
