
:host{
    ion-item{
        --inner-padding-end: 0px;
        --padding-start:0px
    }
  }
  .header-ios ion-toolbar,.header-md ion-toolbar{
    border-bottom: 1px solid #dcdcdc !important;
    --border-width: 0px;
  }
  
  ion-toolbar ion-button {
    text-transform: capitalize;
    margin: 0;
    color: #2CBC2C!important;
}

ion-title{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
  }

ion-segment-button h4 {
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
  }
  
  ion-segment-button {
    min-height: 40px;
    min-width: auto !important;
    margin: 0;
  }
  
  ion-segment-button.segment-button-checked h4 {
    color: #fe3353;
  }
  ion-segment-button.segment-button-checked {
    background: transparent !important;
  }
  
  ion-segment-button.activated {
    background: transparent !important;
  }
  
  ion-segment-button{
    min-height: 40px;
    min-width: auto !important;
    margin: 0;
  }


  ion-item {
    width: 48%;
    float: left;
    margin-bottom: 15px;
}

ion-item ion-label {
    margin: 0;
    width: 100%;
    display: inline-block !important;
}

ion-item:nth-child(even) {
    float: right;
}

ion-item.item-radio-checked .check0{
    display: block;
    transition: all 0.5s ease;
}

ion-item .check0{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 35%;
}

ion-radio {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    height: 100%;
}
