<ion-header>
  <ion-toolbar>
    <ion-title>
      home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="/assets/image/email.svg" alt="">
        <h4>2 invitation pending</h4>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <img src="/assets/image/gallery.svg" alt="">
        <h4>create album or gallery</h4>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
