.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-title{
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

ion-row {
  padding: 20px 20px;
  background: #f3f3f3;
}

ion-row ion-col {
  padding: 0;
}

ion-row ion-col ion-card {
  margin: 0 !important;
  padding: 15px 5px;
  box-shadow: inset 0 0px 10px -2px rgba(0,0,0,.2) !important;
}

ion-row ion-col ion-card img {
  width: 62px !important;
  margin: 0 auto 10px;
}

ion-row ion-col:first-child {
  padding-right: 8px;
}

ion-row ion-col:last-child {
  padding-left: 8px;
}

ion-row ion-col:first-child ion-card {
  background: #ff294b;
}

ion-row ion-col ion-card h4 {
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
  margin: 0;
}

ion-row ion-col:last-child ion-card {
  background: #2DBC2D;
}