<ion-header>
  <ion-toolbar>
  <ion-title>
    our gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>today</h2>

  <ion-list>
    <ion-radio-group>
  
      <ion-item no-padding lines="none">
        <ion-label>
          <div class="save-box">
            <p class="total"><ion-icon name="image"></ion-icon>12</p>
            <span><img src="/assets/image/mask1.png" alt=""></span>
          </div>
          <div class="content_box">                
            <h4>Ashutosh Weds <br /> Simerjit</h4>
            <p>Created Date: 01/05/2019</p>
          </div>
        </ion-label>
      </ion-item>
  
      <ion-item no-padding lines="none">
        <ion-label>
          <div class="save-box">
            <p class="total"><ion-icon name="image"></ion-icon>12</p>
            <span><img src="/assets/image/mask2.png" alt=""></span>
          </div>
          <div class="content_box">                
            <h4>Avish Weds <br /> Heena</h4>
            <p>Created Date: 01/05/2019</p>
          </div>
        </ion-label>
      </ion-item>
  
      <ion-item no-padding lines="none">
        <ion-label>
          <div class="save-box">
            <p class="total"><ion-icon name="image"></ion-icon>12</p>
            <span><img src="/assets/image/mask2.png" alt=""></span>
            <div class="content_box">                  
            <h4>Rahul Weds <br /> Meena</h4>
            <p>Created Date: 01/05/2019</p>
            </div>
          </div>
        </ion-label>
      </ion-item>
      
    </ion-radio-group>
  </ion-list>


</ion-content>
