<ion-content>

  <div class="banner-section">
    <img src="/assets/image/bride.jpg" alt="">
    <h5>India's Favorite Wedding <br />Gallery and Planner</h5>
  </div>
  <div class="bottom-section">
    <h3>sign in / sign up</h3>

    <form [formGroup]="loginform">
      <div class="field_box">
        <ion-input formControlName="phone_email" placeholder="Enter your mobile or email" clearInput></ion-input>
      </div>
      <ion-row *ngIf="loginform.valid;else social_login" class="social" >
        <ion-button color="primary"  (click)="login()">continue</ion-button>
      </ion-row>

      <!-- Social Login -->
      <ng-template #social_login>
        <span class="or">or</span>
        <h5>Continue with</h5>
        <ion-row class="social">
          <ion-col>
            <ion-button expand="full"><img src="/assets/image/facebook.png"> facebook</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full"><img src="/assets/image/google.png">google</ion-button>
          </ion-col>
        </ion-row>
      </ng-template>
      <!-- <p ngResizable ngDraggable> This is a demo text to be resized </p> -->
    </form>
  </div> 
</ion-content>
