
:host{
    ion-item{
        --inner-padding-end: 0px;
        --padding-start:0px
    }
  }
  .header-ios ion-toolbar,.header-md ion-toolbar{
    border-bottom: 1px solid #dcdcdc !important;
    --border-width: 0px;
  
  }

  h3{
    font-size: 17px;
    margin: 0 0 15px 0;
  }

  ion-title{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
  }

  ion-item ion-input,ion-item ion-textarea {
    --padding-start: 15px !important;
    --padding-end: 15px !important;
    font-size: 15px !important;
}

ion-item {margin: 0 0 20px;border: 1.4px solid #D4D4D4;border-radius: 6px;}

ion-textarea {
    margin: 0 !important;
}

ion-item{
  ion-select{
    min-width: 100%;
    padding: 0 15px;
  }
  ion-textarea {
    height: 100px;
}

}

ion-footer{
  ion-toolbar {
    height: 52px;
    ion-title {
      height: 48px;
      padding: 0;
      flex: none;
      --min-height: 60px !important;
ion-button {
  height: 48px;
  margin: 0 !important;
  width: 100%;
  --border-radius: 0 !important;
  text-transform: none;
  --box-shadow: none !important;
  --transition: none !important;
  border: 1px solid #ff294b;
}
    }
    
  }
  &:before {
    opacity: 0;
  }
}