<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>invitation form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h3>Please fill the field *</h3>

  <ion-item no-padding lines="none">
    <ion-select placeholder="Birthday ( Select event category )">
      <ion-select-option value="f">category 1</ion-select-option>
      <ion-select-option value="m">category 2</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item no-padding lines="none">
    <ion-input placeholder="Event name / like Tanu weds Manu"></ion-input>
  </ion-item>

  <ion-item no-padding lines="none">
    <ion-input placeholder="Select event date & Time"></ion-input>
  </ion-item>
  
  <ion-item no-padding lines="none">
    <ion-input placeholder="Location"></ion-input>
  </ion-item>
  
  <ion-item no-padding lines="none">
    <ion-textarea placeholder="Event Address"></ion-textarea>
  </ion-item>
  
  <ion-item no-padding lines="none">
    <ion-textarea placeholder="Description"></ion-textarea>
  </ion-item>

</ion-content>


<ion-footer color="primary">
  <ion-toolbar>
    <ion-title><ion-button>Submit and Continue Create Card</ion-button></ion-title>
  </ion-toolbar>
</ion-footer>
