<ion-header class="send_invite">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>send invitation</ion-title>
  </ion-toolbar>
  <div class="invite-card">
    <img src="/assets/image/img1.png" alt="">
  </div>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item no-padding lines="none">
      <ion-label>
        <img src="/assets/image/user.svg" alt="">
        <h4>sunny mehra</h4>
        <p>8054050340</p>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item no-padding lines="none">
      <ion-label>
        <img src="/assets/image/user.svg" alt="">
        <h4>Honey Boi</h4>
        <p>7888998139</p>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>



<ion-footer color="primary">
  <ion-toolbar>
    <ion-title><ion-button>Send Invitation</ion-button></ion-title>
  </ion-toolbar>
</ion-footer>
