
:host{
    ion-item{
        --inner-padding-end: 0px;
        --padding-start:0px
    }
  }
.header-ios ion-toolbar,.header-md ion-toolbar{
    border-bottom: 1px solid #dcdcdc !important;
    --border-width: 0px;
}
ion-title{
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}
.invite-card {
    width: 100%;
    float: left;
    background: #EEEEEE;
     img {
    width: 38%;
    margin: 25px auto;
    display: flex;
    border-radius: 6px;
}
}

ion-item {
    margin: 0 0 5px 0;
    padding: 0 15px 5px 15px !important;
    border-bottom: 1px solid #BBBBBB;
    width: 100%;
    display: block;
    ion-label {
        margin: 0;
        padding-left: 45px;
        img {
            position: absolute;
            left: 0;
            width: 30px;
            bottom: 0;
            margin: auto;
            top: 0;
        }
        h4 {
            font-size: 16px !important;
            text-transform: capitalize;
            font-weight: 500 !important;
            color: #262626;
            margin: 0 !important;
        }
        p {
            color: #8e8e8e;
            margin: 0;
        }
    }
    &:last-child {
        border: none;
    }
}



ion-footer{
    ion-toolbar {
      height: 52px;
      ion-title {
        height: 48px;
        padding: 0;
        flex: none;
        --min-height: 60px !important;
  ion-button {
    height: 48px;
    margin: 0 !important;
    width: 100%;
    --border-radius: 0 !important;
    text-transform: none;
    --box-shadow: none !important;
    --transition: none !important;
    border: 1px solid #ff294b;
  }
      }
      
    }
    &:before {
      opacity: 0;
    }
  }